Repository ecederstrand/exchangelib: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, blacken-docs

black:
  name: black
  stages:
  - pre-commit
  entry: black --check --diff
  language: system

isort:
  name: isort
  stages:
  - pre-commit
  entry: isort --check --diff
  language: system

flake8:
  name: flake8
  stages:
  - pre-commit
  entry: flake8
  language: system

blacken-docs:
  name: blacken-docs
  stages:
  - pre-commit
  entry: blacken-docs
  language: system

feat: adding py.typed
  py.typed
Due: none

Bump version
  CHANGELOG.md
  exchangelib/__init__.py
Due: black, isort, flake8, blacken-docs

Fix DateRange, SizeRange, FromAddresses and SentToAddresses references.
  exchangelib/properties.py
Due: black, isort, flake8

Fix DateRange, SizeRange, FromAddresses and SentToAddresses references. (#1361)
  exchangelib/properties.py
Due: black, isort, flake8

chore: Only set auth_type and retry_policy if one was supplied
  exchangelib/autodiscover/discovery.py
Due: black, isort, flake8

chore: These internal field values are always created from scratch internaly. No need to deepcopy.
  exchangelib/folders/queryset.py
  exchangelib/queryset.py
Due: black, isort, flake8

fix: Support non-Microsoft implementations of the EWS API with non-standard verrsion numbers
  exchangelib/version.py
  tests/test_build.py
Due: black, isort, flake8

test: Update for newer zoneinfo package
  exchangelib/winzone.py
  tests/test_ewsdatetime.py
Due: black, isort, flake8

Revert "chore: These internal field values are always created from scratch internaly. No need to deepcopy."
  exchangelib/folders/queryset.py
  exchangelib/queryset.py
Due: black, isort, flake8

docs: Remove deprecated usage of backports in docs
  docs/index.md
Due: blacken-docs

chore: Fix timezone tests
  exchangelib/winzone.py
  tests/test_ewsdatetime.py
Due: black, isort, flake8

docs: Fix link
  docs/index.md
Due: blacken-docs

Don't retry TLS errors when attempting to get the service auth type
  exchangelib/transport.py
Due: black, isort, flake8

Don't retry TLS errors when attempting to get the service auth type (#1371)
  exchangelib/transport.py
Due: black, isort, flake8

chore: Add two more gropus that CI pipeline failed on
  exchangelib/folders/__init__.py
  exchangelib/folders/known_folders.py
  tests/test_folder.py
Due: black, isort, flake8

test: Fix grouping test
  tests/test_folder.py
Due: black, isort, flake8

3.14 is out, 3.9 is deprecated
  .github/workflows/python-package.yml
  pyproject.toml
Due: none

Fix test for Python 3.14
  tests/test_ewsdatetime.py
Due: black, isort, flake8

There's no 3.15-dev yet on GitHub Actions
  .github/workflows/python-package.yml
Due: none

Modernize project license settings
  pyproject.toml
Due: none

Ensure timezone-aware input. Fixes #1374
  exchangelib/protocol.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  blacken-docs: any of: \.(md|markdown|mdown)$
